.button {
  padding: 10px;
  transition: all var(--transition);
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 5px;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0px rgb(0 0 0 / 14%),
    0 1px 18px 0px rgb(0 0 0 / 12%);

  &:hover {
    background-color: var(--secondary_dark);
  }

  &:active {
    background-color: var(--secondary_light);
  }

  &.stroke {
    border: 1px solid var(--secondary);
    background-color: transparent;
    color: var(--dark1);

    &:hover {
      background-color: var(--secondary_light);
    }

    &:active {
      background-color: var(--secondary_dark);
    }
  }

  &.wide {
    width: 100%;
  }
}
