.back {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(3px);
  opacity: 0;
  visibility: hidden;
  transition: all var(--transition);
  &.show {
    opacity: 1;
    visibility: visible;
  }
}
