.group {
  position: relative;
  margin-bottom: 35px;

  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;

    &:focus {
      outline: none;
    }
  }

  textarea {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    min-height: 100px;
    border: none;
    border-bottom: 1px solid #757575;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  .scrollBar {
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      transition: all var(--transition);
      background: var(--brand_light);
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 30px;
    }
  }

  /* LABEL ======================================= */
  label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
  }

  /* active state */
  input:focus ~ label,
  input:valid ~ label,
  textarea:focus ~ label,
  textarea:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: var(--brand);
  }

  /* BOTTOM BARS ================================= */
  .bar {
    position: relative;
    display: block;
    width: 100%;

    &:before,
    &:after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 1px;
      position: absolute;
      background: var(--brand_dark);
      transition: 0.2s ease all;
    }

    &:before {
      left: 50%;
    }

    &:after {
      right: 50%;
    }
  }

  /* active state */
  input:focus ~ .bar:before,
  input:focus ~ .bar:after,
  textarea:focus ~ .bar:before,
  textarea:focus ~ .bar:after {
    width: 50%;
  }

  /* HIGHLIGHTER ================================== */
  .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
  }

  /* active state */
  input:focus ~ .highlight,
  textarea:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
  }
}

/* ANIMATIONS ================ */
@keyframes inputHighlighter {
  from {
    background: var(--brand);
  }
  to {
    width: 0;
    background: transparent;
  }
}
